

.v-center{
  margin-top:100px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

html{
  font-family: Roboto, sans-serif
}

table tr {
  height: 20px;
}

.hide{
  display:none;
}

.show{
  display:block;
}

.yt{
display:none;
}

.yt_serv{
  display: none;
}

.inst{
display: none;
}

.inst_serv{
  display: none;
}

.twt{
display: none;
}

.twt_serv{
  display: none;
}

.right-bar, .left-bar {
    border: 1px solid black;
}

#numbers{
  background-color: black;
  color:white;
  margin-top: 25vh;
}

#results{
  height:90vh;
}

#about{
  margin-bottom: 100px;
}

#register{
  height:50vh;
  margin-top: 25vh;
}

.semi-tr{
  color:rgba(255, 255, 255, 0.5); !important:
  font-weight:400 !important;
}

#footer{
  height:30vh;
  background-color: black;
  color:white;
}
